# Part 2 < 데이터 전처리 (이상치, 결측치) >

# Import

In [1]:
import pandas as pd
import matplotlib.pyplot  as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv('data/2023빅콘테스트_어드밴스드리그_예술의전당.csv')

In [3]:
df=data.copy()

In [4]:
num_columns =df.select_dtypes(include=np.number).columns.tolist()
cat_columns =df.select_dtypes(exclude=np.number).columns.tolist()

# 결측치 확인

In [5]:
for col in df.columns:
    msg = f'{col:>10} \t {100 * df[col].isnull().mean():.2f}%'
    print(msg)

       age 	 67.69%
    gender 	 67.66%
membership_type_1 	 67.66%
membership_type_2 	 74.61%
membership_type_3 	 91.05%
membership_type_4 	 98.43%
membership_type_5 	 99.93%
membership_type_6 	 100.00%
 tran_date 	 0.00%
 tran_time 	 0.00%
 play_date 	 0.00%
play_st_time 	 0.00%
      seat 	 0.00%
     price 	 0.00%
ticket_cancel 	 0.00%
discount_type 	 0.00%
performance_code 	 0.00%
pre_open_date 	 45.00%
 open_date 	 0.02%
     genre 	 1.35%
     place 	 0.00%
running_time 	 0.00%
intermission 	 0.00%
 member_yn 	 0.00%

# 전체 데이터에 대한 결측치 처리

### membership_type_6

In [6]:
df=df.drop(columns='membership_type_6',axis=1)

### pre_open_date

In [7]:
df.pre_open_date = df.pre_open_date.fillna(0)

### open_date

In [8]:
df.open_date = df.open_date.fillna(20221129)

### genre

- genre - 데이터 크롤링을 통한 대치

In [9]:
# 일부만 비어있는 경우 
df.loc[df.performance_code == 229,'genre'] = '교향곡'
df.loc[df.performance_code == 2215,'genre'] = '클래식'

# 해당 공연코드의 장르가 전부 비어있는 겨우 - 크롤링을 통한 대치
df.loc[df.performance_code == 2472,'genre'] = '교향곡'
df.loc[df.performance_code == 1751,'genre'] = '클래식'
df.loc[df.performance_code == 354,'genre'] = '클래식'
df.loc[df.performance_code == 1405,'genre'] = '기타'
df.loc[df.performance_code == 2818,'genre'] = '교향곡'
df.loc[df.performance_code == 352,'genre'] = '기타'
df.loc[df.performance_code == 1221,'genre'] = '교향곡'
df.loc[df.performance_code == 2816,'genre'] = '클래식'
df.loc[df.performance_code == 2819,'genre'] = '독주'
df.loc[df.performance_code == 988,'genre'] = '교향곡'
df.loc[df.performance_code == 47,'genre'] = '클래식'
df.loc[df.performance_code == 852,'genre'] = '기타'
df.loc[df.performance_code == 2937,'genre'] = '실내악'
df.loc[df.performance_code == 588,'genre'] = '교향곡'

### running_time & intermission

- 같은 공연 코드 but, 일부는 정보 존재 일부는 정보 없는 경우, 있는 정보로 대체

In [10]:
df.loc[df['performance_code'] == 552, 'running_time'] = 140
df.loc[df['performance_code'] == 552, 'intermission'] = 20

In [11]:
df.loc[df['performance_code'] == 286, 'running_time'] = 120
df.loc[df['performance_code'] == 286, 'intermission'] = 15

In [12]:
df.loc[df['performance_code'] == 1750, 'running_time'] = 90

In [13]:
df.loc[df['performance_code'] == 1491, 'running_time'] = 90

In [14]:
df.loc[df['performance_code'] == 2495, 'running_time'] = 180

- running_time & intermission이 0인 경우

In [15]:
#교향곡
#해당부분부터 장르 평균값 대체
df.loc[df['performance_code'] == 2217, 'running_time'] = 112
df.loc[df['performance_code'] == 2217, 'intermission'] = 14

In [16]:
#독주
df.loc[df['performance_code'] == 2444, 'running_time'] = 94
df.loc[df['performance_code'] == 2444, 'intermission'] = 14

In [17]:
#독주
df.loc[df['performance_code'] == 735, 'running_time'] = 94
df.loc[df['performance_code'] == 735, 'intermission'] = 14

In [18]:
#독주
df.loc[df['performance_code'] == 734, 'running_time'] = 94
df.loc[df['performance_code'] == 734, 'intermission'] = 14

In [19]:
#실내악
df.loc[df['performance_code'] == 2522, 'running_time'] = 98
df.loc[df['performance_code'] == 2522, 'intermission'] = 14

In [20]:
#실내악
df.loc[df['performance_code'] == 1592, 'running_time'] = 98
df.loc[df['performance_code'] == 1592, 'intermission'] = 14

In [21]:
#독주
df.loc[df['performance_code'] == 1106, 'running_time'] = 94
df.loc[df['performance_code'] == 1106, 'intermission'] = 14

In [22]:
#독주
df.loc[df['performance_code'] == 1086, 'running_time'] = 94
df.loc[df['performance_code'] == 1086, 'intermission'] = 14

In [23]:
#성악
df.loc[df['performance_code'] == 946, 'running_time'] = 108
df.loc[df['performance_code'] == 946, 'intermission'] = 15

In [24]:
#독주
df.loc[df['performance_code'] == 748, 'running_time'] = 94
df.loc[df['performance_code'] == 748, 'intermission'] = 14

In [25]:
#실내악
df.loc[df['performance_code'] == 90, 'running_time'] = 98
df.loc[df['performance_code'] == 90, 'intermission'] = 14

- running_time보다 intermission이 더 큰 경우에도 장르 평균값 대체

In [26]:
#교향곡
df.loc[df['performance_code'] == 458, 'running_time'] = 112
df.loc[df['performance_code'] == 458, 'intermission'] = 14

In [27]:
#교향곡
df.loc[df['performance_code'] == 2488, 'running_time'] = 112
df.loc[df['performance_code'] == 2488, 'intermission'] = 14

In [28]:
#독주
df.loc[df['performance_code'] == 1956, 'running_time'] = 94
df.loc[df['performance_code'] == 1956, 'intermission'] = 14

In [29]:
#실내악
df.loc[df['performance_code'] == 416, 'running_time'] = 98
df.loc[df['performance_code'] == 416, 'intermission'] = 14

In [30]:
#독주
df.loc[df['performance_code'] == 1054, 'running_time'] = 94
df.loc[df['performance_code'] == 1054, 'intermission'] = 14

In [31]:
#독주
df.loc[df['performance_code'] == 1815, 'running_time'] = 94
df.loc[df['performance_code'] == 1815, 'intermission'] = 14

In [32]:
#클래식
df.loc[df['performance_code'] == 1227, 'running_time'] = 109
df.loc[df['performance_code'] == 1227, 'intermission'] = 14

In [33]:
#처리 완
print(df[df.running_time < df.intermission])
print(df[(df.running_time==0) & (df.intermission>0)])
print(df[(df.running_time==15) & (df.intermission>0)])

Empty DataFrame
Columns: [age, gender, membership_type_1, membership_type_2, membership_type_3, membership_type_4, membership_type_5, tran_date, tran_time, play_date, play_st_time, seat, price, ticket_cancel, discount_type, performance_code, pre_open_date, open_date, genre, place, running_time, intermission, member_yn]
Index: []

[0 rows x 23 columns]
Empty DataFrame
Columns: [age, gender, membership_type_1, membership_type_2, membership_type_3, membership_type_4, membership_type_5, tran_date, tran_time, play_date, play_st_time, seat, price, ticket_cancel, discount_type, performance_code, pre_open_date, open_date, genre, place, running_time, intermission, member_yn]
Index: []

[0 rows x 23 columns]
Empty DataFrame
Columns: [age, gender, membership_type_1, membership_type_2, membership_type_3, membership_type_4, membership_type_5, tran_date, tran_time, play_date, play_st_time, seat, price, ticket_cancel, discount_type, performance_code, pre_open_date, open_date, genre, place, running_time, intermission, member_yn]
Index: []

[0 rows x 23 columns]

###  member = n 중에서 discount_type이 membership인 행들은 member = y로 변경

In [34]:
lst=['블루','골드','노블','그린','싹틔우미'] #법인의 경우, 골드회원(법인A) 이런 식으로 골드 회원 안에 속해있음 -> 따라서 lst에 안넣음

In [35]:
for i in lst:
    df.loc[(df['member_yn'] == 'N') & (df['discount_type'].str.contains(i)), 'member_yn'] = 'Y'

### ' ［초대권]   '  → '초대권'으로 통일

In [36]:
df[df.discount_type.str.contains('초대')].discount_type.unique()

array(['초대권', '한화초대석', '중앙일보 JTBC 초대권', '초대석', '［초대권］', 'Art+초대'],
      dtype=object)

In [37]:
df.loc[df['discount_type'] == '［초대권］', 'discount_type'] = '초대권'
df.loc[df['discount_type'] == '［초대권］', 'discount_type'] = '초대권'

In [38]:
df[df.discount_type.str.contains('초대')].discount_type.unique()

array(['초대권', '한화초대석', '중앙일보 JTBC 초대권', '초대석', 'Art+초대'], dtype=object)

In [39]:
df_concert = df.query('place == "콘서트홀"')

# 콘서트홀 split

In [40]:
df_concert['seat'] = df_concert['seat'].str.replace('창석','창층')

In [41]:
# 층 
df_concert[['층','블록(박스)-열/자리번호']] = df_concert['seat'].str.split('층',expand = True)

In [42]:
# 자리번호 
df_concert[['블록(박스)-열','자리번호']] = df_concert['블록(박스)-열/자리번호'].str.split(' ',expand = True).iloc[:,1:]

In [43]:
# 블록(박스) & 열 
df_concert[['블록(박스)','열']] = df_concert['블록(박스)-열'].str.split('블록',expand = True)

In [44]:
# 필요없는 column 정리 
df_concert.drop(['seat','블록(박스)-열/자리번호','블록(박스)-열'],axis=1,inplace = True)

In [45]:
df_concert[df_concert['층'].str.contains('합창')][['층','블록(박스)','열','자리번호']]

          층 블록(박스)   열 자리번호
90       합창      G  2열   24
222      합창      G  3열    9
247      합창      H  3열    9
259      합창      H  3열   13
344      합창      H  4열    6
...      ..    ...  ..  ...
1920666  합창      G  4열   19
1920681  합창      H  3열   19
1920745  합창      H  4열    6
1920811  합창      G  1열   20
1920852  합창      G  4열   19

[59336 rows x 4 columns]

In [48]:
df_concert.to_csv('data/Part2_결측치이상치완료.csv')